.restaurant-details-cont {
  background-image: url('https://res.cloudinary.com/dcxurp30f/image/upload/v1672902402/Restaurant_details_bg_p4mk9t.png');
  background-size: cover;
  background-color: #333333;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 36vw);
  justify-items: center;
  align-items: center;
  color: #ffffff;
  font-style: normal;
  padding: 20px 30px;
  position: relative;
}

.restaurant-img {
  width: 28vw;
  height: 80%;
  aspect-ratio: 1;
  border-radius: 8px;
}

.rest-details {
  width: calc(25vw + 30px);
}

.rest-details > h1 {
  font-family: 'Roboto';
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 8px;
}

.rest-details > p {
  font-weight: 400;
  font-family: 'Roboto';
  margin: 12px 0;
}

@media screen and (max-width: 800px) {
  .restaurant-details-cont {
    padding: 20px 5px;
    display: flex;
    justify-content: center;
  }

  .rest-details {
    width: auto;
    margin-left: 40vw;
  }

  .rest-details > h1 {
    font-size: 18px;
    font-weight: 600;
  }

  .rest-details > p {
    font-size: 14px;
  }

  .restaurant-img {
    position: absolute;
    border-radius: 0;
    height: 150px;
    width: 135px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
    top: 0;
    left: 0;
  }
}
.rating-price {
  display: flex;
  align-items: center;
  gap: 5px;
}

.star-ratings {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 25px;
}

.star-ratings > p {
  font-weight: 500;
}

.ratings-reviews {
  margin: 0;
}

.ratings-reviews > p {
  margin-top: 5px;
  margin-bottom: 0;
  color: #e2e8f0;
  font-size: 12px;
}

.separator {
  transform: rotate(90deg);
  border: 0.8px solid #e2e8f0;
  width: 38px;
  height: 0;
  margin: 0;
}

.price-det {
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  margin: 0;
}

.price-desc {
  color: #e2e8f0;
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 0;
  font-weight: 400;
}

.food-items-cont {
  list-style-type: none;
  padding: 35px 85px;
  display: grid;
  grid-template-columns: auto auto;
}

@media screen and (max-width: 800px) {
  .food-items-cont {
    padding: 20px 20px;
    grid-template-columns: auto;
  }
}
